*/


h1 {
        font-size: 65px;
        text-align: center;
        color: white;
        background-color: blue;
    }
    p {
        font-size: 36px;
        margin-left: 100px;         
    }   

    
    